# Xcode
*.mode1v3
*.perspectivev3
*.pbxuser
.DS_Store
build/
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout
*.xcworkspace
!default.xcworkspace

# ios工程文件
*.framework
*.a

# CocoaPods
Pods
!Podfile
!Podfile.lock
